<div>
    <h1 style="font-size: 3rem;">Điều khiển luồng trong C#</h1>
    <br>
    <p>Các cấu trúc điều khiển luồng yêu cầu lập trình viên xác định một hoặc nhiều điều kiện để được đánh giá và kiểm
        tra bởi chương trình, cùng với các lệnh được thực hiện nếu điều kiện được xác định là đúng, hoặc các lệnh khác
        được thực hiện nếu điều kiện xác định là sai.</p>
    <p>Dưới đây là mẫu chung của một cấu trúc điều khiển luồng hay gặp trong ngôn ngữ lập trình.</p>
    <div class="d-flex justify-content-center">
        <app-image-zoom [imageUrl]="'assets/csharp/decision_making.jpg'" [alt]="'decision_making'"
            [width]="'100%'"></app-image-zoom>
    </div>
    <p>C# cung cấp các loại lệnh điều khiển luồng sau. Bạn nhấn vào link để thấy chi tiết.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Lệnh</th>
                <th>Miêu tả</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lệnh if trong C#</td>
                <td>Một lệnh if bao gồm một biểu thức logic theo sau bởi một hoặc nhiều lệnh khác.</td>
            </tr>
            <tr>
                <td>Lệnh if...else trong C#</td>
                <td>Một lệnh if có thể theo sau bởi một lệnh else (tùy ý: có hoặc không), mà có thể được thực hiện khi
                    biểu thức logic có giá trị false.</td>
            </tr>
            <tr>
                <td>Lồng các lệnh if trong C#</td>
                <td>Bạn có thể sử dụng lệnh if hoặc lệnh else if bên trong lệnh if hoặc else if khác</td>
            </tr>
            <tr>
                <td>Lệnh switch trong C#</td>
                <td>Lệnh switch cho phép kiểm tra điều kiện của một biến trước khi thực thi các lệnh</td>
            </tr>
            <tr>
                <td>Lồng các lệnh switch trong C#</td>
                <td>Bạn có thể sử dụng một lệnh switch bên trong một lệnh switch khác</td>
            </tr>
        </tbody>
    </table>
    <br>

    <span class="title pb-0">Toán tử ? : trong C#</span>
    <div class="border-b1"></div>
    <br>
    <p>Chúng ta đã bàn về toán tử điều kiện ? : trong chương trước mà có thể được dùng để thay thế cho lệnh if...else.
        Nó có mẫu chung như sau:</p>
        <code><pre>{{text1}}</pre></code>
    <p>Trong đó Exp1, Exp2 và Exp3 là các biểu thức. Chú ý việc sử dụng và đặt của dấu hai chấm.</p>
    <p>Giá trị của biểu thức Exp1 trước dấu ? có giá trị true, Exp2 được thực hiện, và giá trị của nó là giá trị của
        biểu thức. Nếu Exp1 là false thì Exp3 được thực hiện và giá trị của nó là giá trị của biểu thức.</p>
    <br>
</div>