<div>
    <h1 style="font-size: 3rem;">Nullable trong C#</h1>
    <p>C# cung cấp một kiểu dữ liệu đặc biệt, kiểu nullable, từ đó bạn có thể gán dãy các giá trị thông thường cũng như
        các giá trị null trong C#.</p>
    <p>Để sử dụng một phương thức trong C#, bạn cần:</p>
    <code><pre>{{text1}}</pre></code>
    <p>Ví dụ sau minh họa cách sử dụng kiểu dữ liệu nullable trong C#:</p>
    <code><pre>{{text2}}</pre></code>
    <strong>Toán tử ?? trong C#</strong>
    <p>Toán tử Null Coalescing hay toán tử ?? trong C# được sử dụng với các kiểu giá trị nullable và các kiểu tham
        chiếu. Nó được sử dụng để chuyển đổi một toán hạng tới toán hạng với kiểu nullable, tại đây có thể là một sự
        chuyển đổi ngầm định.</p>
    <p>Với toán tử này sẽ làm code bạn gọn, sạch và chuyên nghiệp hơn. Toán tử ?? đã được giới thiệu từ C# phiên bản
        2.0. Toán tử ?? có 2 toán hạng. Nếu giá trị của toán hạng đầu tiên là null, thì toán tử trả về giá trị của toán
        hạng thứ hai; nếu không thì, nó trả về giá trị của toán hạng đầu tiên. Ví dụ sau minh họa toán tử ?? trong C#:
    </p>
    <code><pre>{{text3}}</pre></code>
</div>