<mat-nav-list class="side-navbar">
  <ng-container *ngFor="let menu of menuList;">
    <ng-container [ngTemplateOutlet]="menu.children ? childMenu : parentMenu"
      [ngTemplateOutletContext]="{ menu: menu, level: 0 }">
    </ng-container>
  </ng-container>
</mat-nav-list>

<ng-template #parentMenu let-menu="menu" let-level="level">
  <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="getPaddingClass(level)">
    <mat-icon>{{menu.icon}}</mat-icon>
    <span class="showText" matTooltip="{{ menu.text }}" matTooltipPosition="right">{{menu.text}}</span>
  </mat-list-item>
</ng-template>

<ng-template #childMenu let-menu="menu" let-level="level">
  <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="isExpanded(menu)">
    <mat-expansion-panel-header [ngClass]="getPaddingClass(level)">
      <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
      <span class="showText" matTooltip="{{ menu.text }}" matTooltipPosition="right">{{menu.text}}</span>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <ng-container *ngFor="let submenu of menu.children;">
        <ng-container [ngTemplateOutlet]="submenu.children ? childMenu : parentMenu"
          [ngTemplateOutletContext]="{ menu: submenu, level: level + 1 }">
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-expansion-panel>
</ng-template>