<div>
    <h1 style="font-size: 3rem;">Cấu trúc (Struct) trong C#</h1>
    <br>
    <p>Trong C#, một cấu trúc (structure) là một kiểu dữ liệu. Nó giúp bạn tạo một biến đơn mà giữ dữ liệu liên quan của
        các kiểu dữ liệu đa dạng. Từ khóa struct trong C# được sử dụng để tạo một cấu trúc (structure).</p>
    <p>Các cấu trúc được sử dụng để biểu diễn một bản ghi (record). Giả sử bạn muốn theo dõi các cuốn sách trong một thư
        viện. Bạn có thể muốn theo dõi các thuộc tính sau của mỗi cuốn sách:</p>
    <p>Tên sách
        Tác giả
        Thể loại
        ID (mã sách)</p>
    <strong>Định nghĩa cấu trúc trong C#</strong>
    <p>Để định nghĩa cấu trúc, bạn phải sử dụng lệnh struct. Câu lệnh struct định nghĩa một kiểu dữ liệu mới, với hơn
        một thành viên trong chương trình của bạn.</p>
    <p>Ví dụ dưới đây là cách bạn khai báo cấu trúc Book:</p>
    <code><pre>{{text1}}</pre></code>
    <p>Chương trình sau minh họa cách sử dụng cấu trúc trên trong C#:</p>
    <code><pre>{{text2}}</pre></code>
    <strong>Đặc điểm của cấu trúc trong C#</strong>
    <p>Ở trên, bạn đã sử dụng một cấu trúc Books đơn giản. Các cấu trúc trong C# là khá khác với kiểu cấu trúc truyền
        thống trong C hoặc C++. Cấu trúc trong C# có các đặc điểm sau:</p>
    <p>Cấu trúc có thể có các phương thức, các trường, indexer, thuộc tính, phương thức operator, và sự kiện.</p>
    <p>Cấu trúc có thể có các constructor đã được định nghĩa, nhưng không có destructor. Tuy nhiên, bạn không thể định
        nghĩa một constructor mặc định cho một cấu trúc. Constructor mặc định được định nghĩa tự động và không thể bị
        thay đổi.</p>
    <p>Không giống các Lớp, cấu trúc không thể kế thừa từ cấu trúc hoặc lớp khác.</p>
    <p>Cấu trúc không thể được sử dụng như là một cơ sở cho cấu trúc hoặc lớp khác.</p>
    <p>Một cấu trúc có thể triển khai một hoặc nhiều Interface.</p>
    <p>Thành viên cấu trúc không thể được xác định ở dạng abstract, virtual, hoặc protected.</p>
    <p>Khi bạn tạo một đối tượng Struct bởi sử dụng toán tử new, nó lấy đối tượng đã tạo và constructor thích hợp được
        gọi. Không giống Lớp, cấu trúc có thể được khởi tạo mà không cần sử dụng toán tử new.</p>
    <p>Nếu toán tử new không được sử dụng, thì các trường chưa được gán và đối tượng không thể được sử dụng tới khi tất
        cả trường đó được khởi tạo.</p>
    <strong>Phân biệt Class và Structure trong C#</strong>
    <p>Lớp và Cấu trúc trong C# có một số điểm khác nhau cơ bản sau:</p>
    <p>Các Lớp là các kiểu tham chiếu, còn cấu trúc là các kiểu giá trị.</p>
    <p>Cấu trúc không hỗ trợ tính kế thừa.</p>
    <p>Cấu trúc không có constructor mặc định.</p>
    <p>Từ các điểm trên, chúng ta viết lại ví dụ trên:</p>
    <code><pre>{{text3}}</pre></code>
    <br>
</div>