<div>
    <h1 style="font-size: 3rem;">Biến trong C#</h1>
    <br>
    <p>Một biến là không gì khác ngoài một tên được cung cấp cho khu vực lưu giữ mà chương trình có thể thao tác. Mỗi
        biến trong C# có một kiểu cụ thể, mà quyết định kích cỡ và cách bố trí bộ nhớ của biến đó, cách dãy giá trị có
        thể được lưu giữ trong bộ nhớ đó, và cách tập hợp các hoạt động có thể được áp dụng tới biến đó.</p>
    <p>Các kiểu giá trị cơ bản trong C# có thể được phân chia thành:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Kiểu dữ liệu</th>
                <th>Ví dụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kiểu số nguyên</td>
                <td>sbyte, byte, short, ushort, int, uint, long, ulong, và char</td>
            </tr>
            <tr>
                <td>Kiểu số thực dấu chấm động</td>
                <td>float và double</td>
            </tr>
            <tr>
                <td>Kiểu thập phân</td>
                <td>decimal</td>
            </tr>
            <tr>
                <td>Kiểu Boolean</td>
                <td>true hoặc false</td>
            </tr>
            <tr>
                <td>Kiểu Nullable</td>
                <td>Kiểu dữ liệu Nullable</td>
            </tr>
        </tbody>
    </table>
    <p>C# cũng cho phép định nghĩa các kiểu giá trị khác của biến như kiểu enum và các kiểu tham chiếu của biến như class,</p>
    <span class="title pb-0">Định nghĩa biến trong C#</span>
    <div class="border-b1"></div>
    <br>
    <p>Cú pháp để định nghĩa biến trong C# là:</p>
    <code><pre>{{text1}}</pre></code>
    <br>
</div>