<div>
    <h1 style="font-size: 2rem;">Enum trong C#</h1>
    <br>
    <p>Một Enumeration (liệt kê) là một tập hợp các hằng số nguyên được đặt tên. Một kiểu enum được khai báo bởi sử dụng
        từ khóa enum trong C#.</p>
    <p>Các kiểu liệt kê trong C# là kiểu dữ liệu giá trị. Nói cách khác, kiểu liệt kê chứa các giá trị của nó và không
        thể kế thừa hoặc không thể truyền tính kế thừa.</p>
    <p>Khai báo biến enum trong C#</p>
    <p>Cú pháp chung để khai báo một Enumeration trong C# là:</p>
    <code><pre>{{text1}}</pre></code>
    <p>Tại đây</p>
    <p>tên_enum xác định tên kiểu liệt kê.</p>
    <p>danh_sách_enum là danh sách các định danh được phân biệt nhau bởi dấu phảy.</p>
    <p>Mỗi biểu tượng trong danh sách liệt kê này đại diện cho một giá trị nguyên, biểu tượng sau có giá trị lớn hơn của
        biểu tượng ở trước. Theo mặc định, giá trị của biểu tượng kiểu liệt kê đầu tiên là 0. Ví dụ:</p>
    <code><pre>{{text2}}</pre></code>
    <p>Ví dụ</p>
    <p>Ví dụ sau minh họa cách sử dụng của biến enum trong C#:</p>
    <code><pre>{{text3}}</pre></code>
    <br>
</div>