<div class="mt-4">
    <span class="title pb-0">Faster Builds with Module Federation</span>
    <div class="border-b1"></div>
    <p>Khi các ứng dụng phát triển, các bản dựng có thể trở nên chậm đến mức không thể chấp nhận được, dẫn đến quy trình
        CI/CD chậm và thời gian khởi động máy chủ nhà phát triển kéo dài. Sự chậm chạp này làm giảm năng suất của nhóm
        do phải chờ đợi quá lâu để biên dịch cục bộ và làm tắc nghẽn quy trình CI/CD.</p>
    <p>Module Federation cung cấp giải pháp cho vấn đề scale bằng việc cho phép chia một Single Page Application (SPA)
        thành nhiều remote applications nhỏ hơn và được build độc lập.</p>
    <strong>Tổng quan kiến trúc</strong>
    <p>Với Module federation, một ứng dụng lớn được chia thành:</p>
    <ul>
        <li>Một <b>Host</b> application duy nhất để tham chiếu bên ngoài...</li>
        <li>Nhiều <b>Remote</b> applications, xử lý một nghiệp vụ hoặc tính năng.</li>
    </ul>
    <p>Mặc dù tất cả các ứng dụng đều được xây dựng độc lập, do đó không có sự phụ thuộc giữa chúng, nhưng về mặt khái
        niệm, có thể nghĩ về chúng theo hệ thống phân cấp sau:</p>
    <div class="d-flex justify-content-center">
        <app-image-zoom [imageUrl]="'assets/micro-fe/dep-graph-2.png'"
            [alt]="'module-federation-host-serve-light'"></app-image-zoom>
    </div>
    <strong>Tạo một workspace mẫu</strong>
    <p>creating an empty Nx workspace.</p>
    <code><pre>{{text1}}</pre></code>
    <p>Then, for React users, install the @nx/react plugin; and for Angular users, install the @nx/angular plugin.</p>
    <code><pre>{{text2}}</pre></code>
    <p>Next, generate the host and remote applications.</p>
    <code><pre>{{text3}}</pre></code>
    <p>Now, serve host to view it in your browser.</p>
    <code><pre>{{text4}}</pre></code>
    <p>Để chạy một hoặc nhiều remote app trong development mode</p>
    <code><pre>{{text5}}</pre></code>
    <strong>Một số file config:</strong>
    <strong>apps/host/project.json</strong>
    <p>Tạo các phụ thuộc mà giữa host và remote app:</p>
    <code><pre>{{text6}}</pre></code>
    <strong>apps/host/webpack.config.ts</strong>
    <p>Cấu hình webpack sử dụng chức năng tiện ích mà Nx cung cấp: withModuleFederation.</p>
    <code><pre>{{text7}}</pre></code>
    <p>Mở rộng Webpack Config</p>
    <p>Nếu bạn thấy mình cần thêm các plugin webpack bổ sung vào cấu hình của mình, bạn có thể làm như vậy bằng cách làm
        theo mẫu dưới đây. Ví dụ này cho thấy cách bạn có thể sử dụng nó để thêm LicenseWebpackPlugin nhưng bạn có thể
        sử dụng phương pháp này để áp dụng bất kỳ plugin webpack nào bạn cần</p>
    <code><pre>{{text8}}</pre></code>
    <strong>apps/host/module-federation.config.ts</strong>
    <code><pre>{{text9}}</pre></code>
    <span class="title pb-0">withModuleFederation làm gì?</span>
    <div class="border-b1"></div>
    <p>Hàm này là một sự trừu tượng hóa bên trên @module-federation/enhanced với một số hành vi dành riêng cho Nx.</p>
    <ul>
        <li>Theo mặc định, tất cả các thư viện (npm and workspace) đều được shared singletons, vì vậy bạn không cần phải
            định cấu hình chúng theo cách thủ công.</li>
        <li>Remotes chỉ được tham chiếu theo tên, vì Nx biết mỗi điều khiển từ xa đang chạy trên cổng nào
            (trong chế độ phát triển).</li>
        <li>Truy cập vào các tính năng mới nhất của Module Federation (chẳng hạn như RuntimePlugins). Tìm hiểu thêm tại
            <a target="_blank" rel="noreferrer"
                class="text-blue-600 transition-colors ease-out hover:text-blue-700 dark:text-sky-500 dark:hover:text-sky-400"
                href="https://module-federation.io">module-federation.io</a>.
        </li>
    </ul>
    <strong>Excluding or overriding shared libraries - Loại trừ hoặc ghi đè thư viện dùng chung</strong>
    <p>To exclude a library or change its configuration, you can provide the shared: (libraryName, sharedConfig) =>
        sharedConfig function in your configuration file.</p>
    <code><pre>{{text10}}</pre></code>
    <span class="title pb-0">Remote computation caching with Nx Cloud</span>
    <div class="border-b1"></div>
    <p>Để sử dụng tốt Module Federation, chúng tôi khuyên bạn nên bật Nx Cloud. Nếu bạn chưa kích hoạt nó khi sử dụng
        create-nx-workspace, hãy tạo một tài khoản tại https://cloud.nx.app và kết nối với kho lưu trữ của bạn.</p>
    <p>Khi bật Nx Cloud, một tập hợp lớn các bản dựng có thể được bỏ qua hoàn toàn khi chạy ứng dụng cục bộ (và trong
        CI/CD).Khi bạn chạy các bản dựng thông qua Nx + Nx Cloud, các thành phần lạ sẽ được lưu trữ trong bộ đệm từ xa,
        do đó, miễn là source của remote app không thay đổi thì nó sẽ được cung cấp từ bộ đệm.</p>
    <p>Khi serve host 2 lần bạn có thể thấy:</p>
    <code><pre>{{text11}}</pre></code>
    <p>Lần serve thứ 2 sẽ nhanh hơn nhiều, bởi vì các remote app được đọc từ cache.</p>
    <code><pre>{{text12}}</pre></code>
    <span class="title pb-0">Production build and deployment with Nx Cloud</span>
    <div class="border-b1"></div>
    <p>set up your production build and a deployment to http://localhost:3000.</p>
    <p>Trước tiên, hãy đảm bảo rằng bạn có các phụ thuộc ngầm từ host app đến từng remote app. Trong trường hợp bạn
        chưa thiết lập tính năng này, hãy thêm dòng sau vào cấu hình host app.</p>
    <code><pre>{{text13}}</pre></code>
    <p>Tiếp theo, mở tệp production webpack configuration và cập nhật các remote URLs vào thư mục con của riêng chúng
        trong http://localhost:3000.</p>
    <code><pre>{{text14}}</pre></code>
    <p>Bây giờ bạn có thể chạy nx build host để xây dựng tất cả host và tất cả các implicit dependencies in production
        mode.</p>
    <p>Sau khi chạy lệnh đó, bạn sẽ thấy các tạo phẩm sau trong thư mục dist.</p>
    <code><pre>{{text15}}</pre></code>
    <p>Bây giờ, chúng ta có thể thêm một lệnh deploy đơn giản để mô phỏng việc deploy thư mục này cho production.
    </p>
    <code><pre>{{text16}}</pre></code>
    <p>Sau đó bạn có thể chạy nx deploy host để xem ứng dụng đang chạy trên http://localhost:3000. Nếu bạn kiểm
        tra production folder, bạn sẽ thấy các tệp sau</p>
    <code><pre>{{text17}}</pre></code>
</div>