<div>
    <h1 style="font-size: 2rem;">C# - Type Conversion - Chuyển đổi giữa các kiểu dữ liệu</h1>
    <br>
    <p>Có 2 loại ép kiểu </p>
    <ul>
        <li>Implicit type conversion − Ép kiểu ngầm định: Chuyển đổi tự dữ liệu nhỏ hơn sang loại lớn hơn (int -> long)
            Chuyển đổi từ các lớp dẫn xuất sang các lớp cơ sở.
        </li>
        <li>Explicit type conversion - Ép kiểu tường minh: Việc chuyển đổi này được thực hiện một cách rõ ràng bởi người
            dùng bằng việc sử dụng các hàm được định nghĩa trước. Các chuyển đổi kiểu tường minh cần một toán tử cast
        </li>
    </ul>
    <p>Ví dụ sau minh họa một sự chuyển đổi kiểu tường minh trong C#:</p>
    <code><pre>{{text1}}</pre></code>
    <br>

    <!-- Value Type -->
    <span class="title pb-0">Phương thức Chuyển đổi kiểu dữ liệu trong C#</span>
    <div class="border-b1"></div>
    <br>
    <p>Các biến kiểu tham trị có thể được gán trực tiếp một giá trị. Chúng có nguồn gốc từ class System.ValueType</p>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Phương thức & Miêu tả</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ToBoolean
                    Chuyển đổi một kiểu thành một giá trị Boolean, nếu có thể</td>
            </tr>
            <tr>
                <td>2</td>
                <td>ToByte
                    Chuyển đổi một kiểu thành một byte</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ToChar
                    Chuyển đổi một kiểu thành một Unicode character, nếu có thể</td>
            </tr>
            <tr>
                <td>4</td>
                <td>ToDateTime
                    Chuyển đổi một kiểu (kiểu integer hoặc string) thành các cấu trúc date-time</td>
            </tr>
            <tr>
                <td>5</td>
                <td>ToDecimal
                    Chuyển đổi một kiểu số thực hoặc số nguyên thành một kiểu thập phân</td>
            </tr>
            <tr>
                <td>6</td>
                <td>ToDouble
                    Chuyển đổi một kiểu thành một kiểu double</td>
            </tr>
            <tr>
                <td>7</td>
                <td>ToInt16
                    Chuyển đổi một kiểu thành một 16-bit integer</td>
            </tr>
            <tr>
                <td>8</td>
                <td>ToInt32
                    Chuyển đổi một kiểu thành một 32-bit integer</td>
            </tr>
            <tr>
                <td>9</td>
                <td>ToInt64
                    Chuyển đổi một kiểu thành một 64-bit integer</td>
            </tr>
            <tr>
                <td>10</td>
                <td>ToSbyte
                    Chuyển đổi một kiểu thành một kiểu signed byte</td>
            </tr>
            <tr>
                <td>11</td>
                <td>ToSingle
                    Chuyển đổi một kiểu thành một số small floating point</td>
            </tr>
            <tr>
                <td>12</td>
                <td>ToString
                    Chuyển đổi một kiểu thành một string</td>
            </tr>
            <tr>
                <td>13</td>
                <td>ToType
                    Chuyển đổi một kiểu thành một kiểu đã xác định</td>
            </tr>
            <tr>
                <td>14</td>
                <td>ToUInt16
                    Chuyển đổi một kiểu thành một kiểu unsigned int</td>
            </tr>
            <tr>
                <td>15</td>
                <td>ToUInt32
                    Chuyển đổi một kiểu thành một kiểu unsigned long</td>
            </tr>
            <tr>
                <td>16</td>
                <td>ToUInt64
                    Chuyển đổi một kiểu thành một unsigned big integer</td>
            </tr>

        </tbody>
    </table>
    <br>
</div>