<div class="mt-4">
    <span class="title pb-0">Giới thiệu về Nx</span>
    <div class="border-b1"></div>
    <p><strong>Nx</strong> là một công cụ mạnh mẽ được phát triển để giúp quản
        lý các dự án lớn và phức tạp, đặc biệt là những dự án sử dụng nhiều framework khác nhau như Angular, React, hoặc
        Node.js. Nx được xây dựng trên nền tảng của hệ thống công cụ xây dựng và quản lý dự án như Bazel, và cung cấp
        một môi trường thống nhất cho việc phát triển, thử nghiệm, và triển khai ứng dụng. </p>
    <span class="title pb-0"></span>
    <div class="border-b1">Các tính năng chính của Nx</div>
    <ul>
        <li><b>Chạy tách vụ hiệu quả(Run Tasks Efficiently)</b>: Nx chạy song song các task và sắp xếp dựa trên sự phụ
            thuộc giữa chúng.</li>
        <li><b>Phân phối tasks trong CI(Distribute Tasks in CI): </b>Nx scales CI bằng cách phân phối các tasks
            trên nhiều máy ảo. Bằng cách này quá trình CI sẽ vẫn nhanh cho dù repo có lớn.</li>
        <li><b>Bộ nhớ đệm cục bộ và từ xa(Cache Locally & Remotely): </b> với bộ nhớ đệm cục bộ và từ xa, Nx sẽ ngăn
            chặn việc chạy lại các task không cần thiết(task ko có thay đổi và đã dược cache), tiết kiệm thời gian.</li>
        <li><b>Chia tách các E2E test và chạy lại các test không ổn định(Split E2E Tests and Rerun Flaky Tests):</b> Nx
            tự động phân chia các e2e test lớn để phân phối chúng trên các máy ảo. Nx có thể tự động xác định và chạy
            lại các e2e test không ổn định.
        </li>
        <li><b>Tự động cập nhật phụ thuộc(Automate Dependency Updates): </b>nếu bạn tận dụng các plugin Nx, bạn sẽ có
            được các tính năng bổ sung như code generation và các công cụ để tự động nâng codebase và dependencies.</li>
        <li><b>Khả năng tùy biến cao:</b> Nx có khả năng tùy biến và mở rộng cao. Tinh chỉnh nó bằng cách tạo plugin cho
            bạn hoặc tạo plugin công cụ</li>
    </ul>

</div>