<div>
    <h1 style="font-size: 2rem;">Namespace trong C#</h1>
    <br>
    <p>Một namespace trong C# được thiết kế để cung cấp một cách để giữ một tập hợp các tên được phân biệt riêng rẽ
        nhau. Các tên lớp được khai báo trong một namespace không xung đột với cùng tên đó của lớp được khai báo trong
        namespace khác.
    </p>
    <strong>Định nghĩa một Namespace trong C#</strong>
    <p>Một định nghĩa namespace trong C# bắt đầu với từ khóa namespace được theo sau bởi tên của namespace đó, như sau:
    </p>
    <code><pre>{{text1}}</pre></code>
    <p>Để gọi phiên bản đã kích hoạt của namespace của hàm hoặc biến, bạn phụ thêm vào sau tên của namespace đó như sau:
    </p>
    <code><pre>{{text2}}</pre></code>
    <p>Ví dụ sau minh họa cách sử dụng của các namespace trong C#:</p>
    <code><pre>{{text3}}</pre></code>
    <strong>Từ khóa using trong C#</strong>
    <p>Từ khóa using biểu diễn rằng chương trình đang sử dụng các tên trong namespace đã cho. Ví dụ: chúng ta đang sử
        dụng System namespace trong các chương trình của chúng ta. Lớp Console được định nghĩa ở đây. Chúng ta viết:</p>
    <code><pre>{{text4}}</pre></code>
    <p>Chúng ta có thể viết tên đầy đủ là:</p>
    <code><pre>{{text5}}</pre></code>
    <p>Bạn cũng có thể tránh việc phụ thêm vào các namespace bởi sử dụng directive là using namespace. Chỉ thị này nói
        cho compiler rằng phần code tiếp theo đang sử dụng các tên trong namespace đã xác định.</p>
    <p>Giờ viết lại ví dụ trên bởi sử dụng using directive trong C#:</p>
    <code><pre>{{text6}}</pre></code>
    <strong>Lồng Namespace trong C#</strong>
    <p>Trong C#, bạn có thể định nghĩa một namespace bên trong các namespace khác, như sau:</p>
    <code><pre>{{text7}}</pre></code>
    <p>Bạn có thể truy cập các thành viên của các namespace được lồng vào nhau này bởi sử dụng toán tử dot (.) trong C#,
        như sau:</p>
    <code><pre>{{text8}}</pre></code>
</div>