<header class="header">
  <div class="nav-icon d-flex align-items-center flex-row-reverse hamburger-menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
    <h1 style="margin-right: 12px;">Category</h1>
  </div>
  <nav class="nav">
    <ul>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;"
          routerLink="/angular/data-binding">Angular</span></li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/csharp/overview">C#</span>
      </li>
      <li> <span class="d-flex align-items-center p-2" style="cursor: pointer;"
          routerLink="/dotnetcore/repository">ASP.NetCore</span></li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/efcore/intro">EFCore</span>
      </li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;"
          routerLink="/message-broker/overview">Message
          Broker</span></li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;"
          routerLink="/micro-fe/micro-fe-overview">Micro frontends</span></li>
    </ul>
  </nav>
</header>

<div class="dropdown mobile-menu" [ngClass]="{'open': isMenuOpen}">
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li style="cursor: pointer;" routerLink="/angular/data-binding"><span>Angular</span></li>
    <li style="cursor: pointer;" routerLink="/csharp/overview"><span>C#</span></li>
    <li style="cursor: pointer;" routerLink="/dotnetcore/repository"><span>ASP.NetCore</span></li>
    <li style="cursor: pointer;" routerLink="/efcore/intro"><span>EFCore</span></li>
    <li style="cursor: pointer;" routerLink="/message-broker/overview"><span>Message Broker</span></li>
    <li style="cursor: pointer;" routerLink="/micro-fe/micro-fe-overview"><span>Micro frontends</span></li>
  </ul>
</div>