.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3f51b5;
    color: white;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #3f51b5;
    padding: 20px;
}

.mobile-menu.open {
    display: flex;
}

/* @media (max-width: 768px) {
    .nav {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
} */

.dropdown-item:hover {
    background-color: #007bff;
    color: white;
  }