<header class="header">
  <!-- <div class="d-flex align-items-center hamburger-menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </div> -->
  <nav class="nav">
    <ul>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/angular">Angular</span></li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/csharp">C#</span></li>
      <li> <span class="d-flex align-items-center p-2" style="cursor: pointer;"
          routerLink="/dotnetcore">ASP.NetCore</span></li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/efcore">EFCore</span></li>
      <li><span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/message-broker">Message
          Broker</span></li>
    </ul>
  </nav>
</header>

<!-- <div class="dropdown mobile-menu" [ngClass]="{'open': isMenuOpen}">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
    aria-expanded="false">
    Select an option
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><span style="cursor: pointer;" routerLink="/angular">Angular</span></li>
    <li><span style="cursor: pointer;" routerLink="/csharp">C#</span></li>
    <li><span style="cursor: pointer;" routerLink="/dotnetcore">ASP.NetCore</span></li>
    <li><span style="cursor: pointer;" routerLink="/efcore">EFCore</span></li>
    <li><span style="cursor: pointer;" routerLink="/message-broker">Message Broker</span></li>
  </ul>
</div> -->